bin/
obj/
*.db
Glyphite.json
workdir/
*.user
*.suo
appsettings.Development.json
*.DotSettings.user
.vs/
*.log
.DS_Store
repos/
node_modules/
docker-compose.override.yml

# VSCode extension build
src/Glyphite.VSCode/out/
src/Glyphite.VSCode/node_modules/
src/Glyphite.VSCode/package-lock.json
